*.userprefs
*.pidb
*.suo
*.unityproj
*.booproj
*.orig
*.apk
*.unitypackage
*.unitypackage.meta
*.unitypackage.meta.meta
*.log
*.log.meta
/Library/
/Temp/
/obj/
/Builds/

Server/.vs/
Server/Server/obj/
Server/ShareBase/obj/
Export/
.idea/

